<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
            color: royalblue;
            background-color: peru;
            text-align: center
        }
    </style>
    <title>Gitpub</title>
</head>
<body>
    <h1>Welcome to Gitpub</h1>
        <ul>
            <% for(let i = 0; i < allDrinks.length; i++) {%>
            <li style="list-style-type: none;">
                <a href="/drinks/<%= i %>">
                    <%= allDrinks[i].name.charAt(0).toUpperCase() + allDrinks[i].name.slice(1) %>
                   

                </a>
            </li>
            <% } %>
        </ul>
    
</body>
</html>